<h1>about the site</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-title">technology</div>
  <!-- 
  <div class="panel-body">
    <p>...</p>
  </div>
   -->
  <table class="table-condensed">
  	<tr>
  	  <td><img src="/images/logos/nodejs.png" height="20"></td>
  	  <td>Node.js v0.10.25</td>
  	  <td>
        <a href="http://nodejs.org">nodejs.org</a>
        <div class="nowrap">
        <a href="https://github.com/joyent/node">
        <img src="/images/logos/fluidicon.png" height="20">joyent/node</a>
        </div>
      </td>
  	</tr>
  	<tr>
  	  <td><img src="/images/logos/express.png" height="20"></td>
  	  <td>express v3.3.8</td>
  	  <td><a href="http://expressjs.com/">expressjs.com/</a>
        <div class="nowrap">
        <a href="https://github.com/visionmedia/express">
        <img src="/images/logos/fluidicon.png" height="20">visionmedia/express</a></div>
  	</tr>
    <tr>
      <td><img src="/images/logos/twitter-bootstrap.jpg" height="20"></td>
      <td>Bootstrap v3.0.3</td>
      <td><a href="http://getbootstrap.com">getbootstrap.com</a>
        <div class="nowrap"><a href="https://github.com/twbs/bootstrap">
        <img src="/images/logos/fluidicon.png" height="20">twbs/bootstrap</a></div>
    </tr>
    <tr>
      <td></td>
      <td>History.js v1.8.6</td>
      <td><a href="http://balupton.com/projects">balupton.com/projects</a>
        <div class="nowrap">
          <a href="https://github.com/browserstate/history.js">
        <img src="/images/logos/fluidicon.png" height="20">browserstate/history.js</a></div>
    </tr>
    <tr>
      <td></td>
      <td>url.js v1.8.6</td>
      <td><a href="http://url.websanova.com/">url.websanova.com/</a>
        <div class="nowrap">
          <a href="https://github.com/websanova/js-url">
        <img src="/images/logos/fluidicon.png" height="20">websanova/js-url</a></div>
    </tr>
  </table>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-title">hosting</div>
  <!-- 
  <div class="panel-body">
    <p>...</p>
  </div>
   -->
  <table class="table-condensed">
    <tr>
      <td><img src="/images/logos/nodejs.png" height="20"></td>
      <td>Node.js v0.10.25</td>
      <td>
        <a href="http://nodejs.org">nodejs.org</a>
        <div class="nowrap">
        <a href="https://github.com/joyent/node">
        <img src="/images/logos/fluidicon.png" height="20">joyent/node</a>
        </div>
      </td>
    </tr>
  </table>
</div>