<h1>about the site</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-title">technology</div>
  <!-- 
  <div class="panel-body">
    <p>...</p>
  </div>
   -->
  <table class="table-condensed">
  	<tr>
  	  <td><img src="/images/logos/nodejs.png" height="20"></td>
  	  <td>Node.js v0.10.25</td>
  	  <td>
        <a href="http://nodejs.org">nodejs.org</a>
        <div class="nowrap">
        <a href="https://github.com/joyent/node">
        <img src="/images/logos/github.png" height="20">joyent/node</a>
        </div>
      </td>
  	</tr>
  	<tr>
  	  <td><img src="/images/logos/express.png" height="20"></td>
  	  <td>express v3.4.8</td>
  	  <td><a href="http://expressjs.com/">expressjs.com</a>
        <div class="nowrap">
        <a href="https://github.com/visionmedia/express">
        <img src="/images/logos/github.png" height="20">visionmedia/express</a></div>
  	</tr>
    <tr>
      <td></td>
      <td>hogan.js v2.0.0</td>
      <td><a href="http://twitter.github.io/hogan.js/">twitter.github.io/hogan.js</a>
        <div class="nowrap">
        <a href="https://github.com/twitter/hogan.js">
        <img src="/images/logos/github.png" height="20">twitter/hogan.js</a></div>
    </tr>
    <tr>
      <td></td>
      <td>hogan-express v0.5.2</td>
      <td>
        <div class="nowrap">
        <a href="https://github.com/vol4ok/hogan-express">
        <img src="/images/logos/github.png" height="20">vol4ok/hogan-express</a></div>
    </tr>
    <tr>
      <td><img src="/images/logos/twitter-bootstrap.jpg" height="20"></td>
      <td>Bootstrap v3.0.3</td>
      <td><a href="http://getbootstrap.com">getbootstrap.com</a>
        <div class="nowrap"><a href="https://github.com/twbs/bootstrap">
        <img src="/images/logos/github.png" height="20">twbs/bootstrap</a></div>
    </tr>
    <tr>
      <td><img src="/images/logos/jquery.png" height="20"></td>
      <td>jQuery v2.1.0</td>
      <td><a href="http://jquery.com">jquery.com</a>
        <div class="nowrap"><a href="https://github.com/jquery/jquery">
        <img src="/images/logos/github.png" height="20">jquery/jquery</a></div>
    </tr>
    <tr>
      <td></td>
      <td>History.js v1.8.6</td>
      <td><a href="http://balupton.com/projects">balupton.com/projects</a>
        <div class="nowrap">
          <a href="https://github.com/browserstate/history.js">
        <img src="/images/logos/github.png" height="20">browserstate/history.js</a></div>
    </tr>
    <tr>
      <td></td>
      <td>url.js v1.8.6</td>
      <td><a href="http://url.websanova.com/">url.websanova.com/</a>
        <div class="nowrap">
          <a href="https://github.com/websanova/js-url">
        <img src="/images/logos/github.png" height="20">websanova/js-url</a></div>
    </tr>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-title">hosting</div>
  
  <div class="panel-body">
    <p>
        <img src="/images/logos/aliyun.ico" height="20">
        the site using aliyun hosted cloud server (HZ)
        <a href="http://www.aliyun.com">http://www.aliyun.com</a>
    </p>
    <p>
        <img src="/images/logos/github.png" height="20">
        the complete source code hosted on Github
        <a href="https://github.com/HorZ/horz.me">https://github.com/HorZ/horz.me</a>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-title">contact</div>
  <!-- email/facebook/twitter/qq/wechat/github/linkedin -->
  <div class="panel-body">
    <p><strong>active:</strong></p>
    <p>
        <img src="/images/logos/qqmail.ico" height="20">
        <a href="mailto:m@horz.me">m@horz.me (in China)</a>
    </p>
    <p>
        <img src="/images/logos/gmail.ico" height="20">
        <a href="mailto:horace.zheng@gmail.com">horace.zheng@gmail.com (global)</a>
    </p>
    <p>
        <img src="/images/logos/linkedin.png" height="20">
        <a href="http://www.linkedin.com/in/horacez">http://www.linkedin.com/in/horacez</a>
    </p>
    <p>
        <img src="/images/logos/github.png" height="20">
        <a href="https://github.com/HorZ">https://github.com/HorZ</a>
    </p>
    <p><strong>occasional:</strong></p>
    <p>
        <img src="/images/logos/facebook.jpg" height="20">
        <a href="https://www.facebook.com/horace.zheng">https://www.facebook.com/horace.zheng</a>
    </p>
    <p>
        <img src="/images/logos/Twitter_logo_blue.png" height="20">
        <a href="https://twitter.com/horace_zheng">https://twitter.com/horace_zheng</a>
    </p>
  </div>
  
</div>