<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{> cssheader }}
  </head>
  <body>

    {{> header }}

    <input type="file" id="take-picture" accept="image/*">
    <input type="button" value="shows" id="show-location" onclick="navigator.geolocation.getCurrentPosition(showLocation);">
    <script>
      function showLocation(position){
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        alert("[" + latitude + "]-[" + longitude + "]");
      }
    </script>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ zone }}</p>
    <pre>{{anyinfo}}</pre>

    {{> footer }}
  </body>
</html>